In [294]:
#Codigo para crear una lista del diccionario que nos dan
import pandas as pd
import numpy as np
excel1='C:/BD_Diccionario.csv'
df2 = pd.read_csv(excel1,sep =";")
Lista_Nombres = df2['Nombre'].tolist()
#Lista_Nombres
#Codigo para comparar los encabezados de la tabla con la lista del diccionario
excel2='C:/BD_Limpieza_Ejercicio.csv'
df = pd.read_csv(excel2,sep =";")
importar_encabezados = df.axes[1]
#Codigo para eliminar los encabezados que no pertenezcan al diccionario
#print(importar_encabezados)
for i in importar_encabezados:
    if i not in Lista_Nombres:
        df = df.drop(columns=i)
        print(i) #Son los encabezados que me va a borrar

AREA_PROTEC
Unnamed: 15

In [295]:
#Codigo para borrar filas sin valores ni datos, reemplazo "999" y "." porque son los caracteres con los que ha sido rellenado los datos
        
#df.replace(["999","."],np.nan,inplace=True)    
#df.isnull() #Me permite comprobar que el reemplazo se hizo correctamente, los valores errones deben dar el valor booleano True
#df.dropna() #Borra las filas donde no existen datos en todas las columnas
#df

In [296]:
#Codigo para revisar los valores unicos en cada columna y asi poder reemplazar"
for column in df.columns:
    Lista = df[column].tolist()
    Set = set(Lista)
    print(Set)

{nan, 2018.0, 2019.0, 2020.0, 2021.0, nan, nan, nan, nan, nan, nan, nan, nan}
{'REGIÓN SIERRA O INTERANDINA', 'REGIÓN SIERRA O INTERAnNDINA', 'REGIÓN COSTA O LITORAL', 'REGIÓN SIERRA O INTERANDIN@', '.', 'REGIÓN ORIENTAL O AMAZÓNICA', nan, 'REGIÓN COTA O LITORAL'}
{'DEMARCACIàN HIDROGRµFICA JUBONES', 'DEMARCACIàN HIDROGRµFICA GUAYAS', 'DEMARCACIàN HIDROGRµFICA MANABÍ', '.', 'DEMARCACIàN HIDROGRµFICA SANTIAGO', 'DEMARCACIàN HIDROGRµFICA ESMERALDAS', 'DEMARCACIàN HIDROGRµFICA PASTAZA', '999', nan, 'DEMARCACIàN HIDROGRµFICA MIRA'}
{'DIRECCIÓN ZONAL LOJA', 'DIRECCIÓN ZONAL IMBABURA', 'DIRECCIÓN ZONAL GUAYAS', '.', 'DIRECCIÓN ZONAL CHIMBORAZO', 'DIRECCIÓN ZONAL AZUAY', 'DIRECCIÓN ZONAL ESMERALDAS', '999', 'DIRECCIÓN ZONAL MANABÖ', nan}
{'7', '4', '2', '3', '1', '15', '17', '5', '13', '16', '99', '.', '10', '18', nan}
{'PICHINCcHA', 'TUNGURAUA', 'CARCHII', 'NAPO', 'BOLÖVAR', 'AZUAY', 'TUNGURaHUA', 'EL ORO', 'PICHINCHa', 'CA¥AR', 'PASTAZA', 'COTOPAXI', nan, 'IMBABURA', 'MANABÖ', 'TUNGURAHuA', 'PICHIiNCHA', '.', 'TUNGURAHUA', 'CARCHI', 'PICHINCHA'}
{'1303', '1807', '0302', '0501', '0401', '1704', '0306', '0406', '0703', '0405', '1602', '1004', '1701', nan, '1702', '0710', '0201', '.', '0712', '0403', '1507', '1805', '1806', '0101', '0505', '0504'}
{'PIÑAS', 'PEDRO MONCAYO', 'ESPEJO', 'PATATE', 'TULCµN', 'SALCEDO', 'DÉLEG', 'LATACUNGA', 'SAN PEDRO DE HUACA', 'SANTA ROSA', 'MONTÚFAR', nan, 'SAN PEDRO DE PELILEO', 'OTAVALO', '.', 'DISTRITO METROPOLITANO DE QUITO', 'MERA', 'QUIJOS', 'CAYAMBE', 'CHONE', 'BIBLIÁN', 'QUERO', 'CUENCA', 'GUARANDA', 'PUJILÍ', 'ATAHUALPA'}
{'180757', '040157', '010159', '040155', '180753', '040650', '010154', '071255', '170452', '030650', '180750', '040551', '050150', '071257', '180553', '040552', '170450', '160250', nan, '040352', '180752', '170454', '040350', '071056', '050450', '170256', '170250', '040161', '170253', '.', '170153', '100450', '020157', '050552', '050458', '170175', '030253', '070355', '070351', '170451', '040550', '150753', '170252', '180550', '030251', '040153', '130356', '040158', '040154', '170453', '180650', '040150'}
{'LA ESPERANZA', 'BELLAMARÍA', 'OLMEDO', 'SAN JOSÉ DE AYORA', 'CRISTÓBAL COLÓN', 'MALCHINGUÍ', 'SAN SIMÓN', 'PATATE', 'DÉLEG', 'CANGAHUA', 'URBINA', 'LATACUNGA', 'LA LIBERTAD', 'TABACUNDO', 'GUAMBALÓ', 'ZUMBAHUA', 'TURUPAMBA', 'PIFO', 'CHECA', 'SAN GABRIEL', 'OCTAVIO CORDERO PALACIOS', 'NAZÓN', 'RICAURTE', 'BOLÍVAR', 'TOCACHI', nan, 'SARACAY', 'MALDONADO', 'AYAPAMBA', 'CUSUBAMBA', 'JULIO ANDRADE', 'OTAVALO', 'EL ÁNGEL', '.', 'MERA', 'TUFIÑO', 'CAYAMBE', 'SUCRE', 'CHITÁN DE NAVARRETE', 'HUACA', 'PELILEO', 'TULCÁN', 'QUERO', 'COTALÓ', 'PAPALLACTA', 'SAN JUAN DE CERRO AZUL', 'PUJILÍ', 'ATAHUALPA', 'TORATA', 'SANTA MARTHA DE CUBA', 'TUPIGACHI', 'PIOTER'}
{'RURAL', '.', 'URBANO', 'RuRAL', nan}
{'NORTE DEL ECUADOR', 'TELIGOTE', 'CHINI-D3LEG', 'PONCE PALUGUILLO', 'MOJANDA', 'HUAMBALÓ-LA MOYA', 'SAN ISIDRO', 'MOJANDITA CURUBÍ', 'KAYAMBI', 'RÍO GARRAPATA', 'SANTA ELENA', '.', 'SANTA ROSA', 'SAN JORGE DE PATATE', 'SAN SIMÓN DE QUINLLUNGA-GUARANDA', nan, 'RÍO PINDO GRANDE'}
{'.', 'TERMINADO', 'CONCLUIDO', nan}
{'84,761589', '110,282326', '1544,180285', '3920,194209', '1143,019598', '1319,017785', '1,733524', '976,896649', '556,577508', '1728,940993', '4256,188251', '2,391932', '1068,115736', '4,978255', '1208,826556', '97,598597', '1005,127133', '193,884743', '166,498875', '64,665049', '2,185717', '2,065013', '3184,529849', '4,436909', '837,235547', '2271,016215', '1,262616', nan, '2,296805', '10549,2979', '214,109774', '0,404522', '1040,682038', '153,695604', '2444,53092', '287,700782', '332,16145', '3082,673332', '.', '2400,838763', '0,170876', '10,591878', '1,825835', '13,396746', '3219,578098', '1493,964828', '600,132409', '0,000009', '720,665661', '0,633937', '229,493092', '459,567345', '7494,6303', '742,035439', '539,141605', '104,847436'}

In [298]:
for column in df.columns:
    df[column]=df[column].astype(str).str.replace("à","O")
    df[column]=df[column].astype(str).str.replace("µ","Á")
    df[column]=df[column].astype(str).str.replace("nN","N")
    df[column]=df[column].astype(str).str.replace("@","A")
    df[column]=df[column].astype(str).str.replace("Ö","Í")
    df[column]=df[column].astype(str).str.replace("Cc","C")
    df[column]=df[column].astype(str).str.replace("¥","NI")
    df[column]=df[column].astype(str).str.replace("II","I")
    df[column]=df[column].astype(str).str.replace("COTA","COSTA")
    df[column]=df[column].astype(str).str.replace("TULCMN","TULCAN")
    df[column]=df[column].astype(str).str.replace("D3LEG","DÉLEG")
    df[column]=df[column].astype(str).str.replace("CONCLUIDO","TERMINADO")
    df[column]=df[column].astype(str).str.upper() #Hacer coincidir un solo estilo al poner a todas en mayuscula

#Codigo para revisar los valores unicos en cada columna y asi poder reemplazar"
#for column in df.columns:
#    Lista = df[column].tolist()
#    Set = set(Lista)
#    print(Set)
df

,ANIO_CREACION,REG_NAT,DEMAR_HIDRO,DIR_ZON,DPA_PROVIN,DPA_DESPRO,DPA_CANTON,DPA_DESCAN,DPA_PARROQ,DPA_DESPAR,AREA,NAM,EDEL,SUP_HA
0,2021.0,REGIÓN SIERRA O INTERANDINA,DEMARCACION HIDROGRÁFICA PASTAZA,DIRECCIÓN ZONAL CHIMBORAZO,5,COTOPAXI,0501,LATACUNGA,050150,LATACUNGA,URBANO,SANTA ELENA,TERMINADO,"166,498875"
1,2021.0,REGIÓN SIERRA O INTERANDINA,DEMARCACION HIDROGRÁFICA GUAYAS,DIRECCIÓN ZONAL GUAYAS,2,BOLÍVAR,0201,GUARANDA,020157,SAN SIMÓN,RURAL,SAN SIMÓN DE QUINLLUNGA-GUARANDA,TERMINADO,"556,577508"
2,2021.0,REGIÓN SIERRA O INTERANDINA,DEMARCACION HIDROGRÁFICA PASTAZA,DIRECCIÓN ZONAL CHIMBORAZO,NAN,TUNGURAHUA,1806,QUERO,180650,QUERO,URBANO,TELIGOTE,TERMINADO,"1,825835"
3,2021.0,REGIÓN SIERRA O INTERANDINA,DEMARCACION HIDROGRÁFICA PASTAZA,DIRECCIÓN ZONAL CHIMBORAZO,18,TUNGURAHUA,1807,SAN PEDRO DE PELILEO,180750,PELILEO,URBANO,TELIGOTE,TERMINADO,"193,884743"
4,2021.0,REGIÓN SIERRA O INTERANDINA,DEMARCACION HIDROGRÁFICA PASTAZA,DIRECCIÓN ZONAL CHIMBORAZO,18,TUNGURAUA,1807,SAN PEDRO DE PELILEO,180752,BOLÍVAR,RURAL,TELIGOTE,TERMINADO,"2,391932"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2020.0,.,.,.,.,.,.,.,.,.,.,.,.,.
64,2020.0,.,.,.,.,.,.,.,.,.,.,.,.,.
65,2020.0,.,999,.,.,.,.,.,.,.,.,.,.,.
66,2020.0,.,.,.,.,.,.,.,.,.,.,.,.,.
67,2020.0,.,.,999,.,.,.,.,.,.,.,.,.,.

In [299]:
df.replace(["999","."],np.nan, inplace=True)
df.isnull() #Me permite comprobar que el reemplazo se hizo correctamente, deberia tener valores TRUE :(

,ANIO_CREACION,REG_NAT,DEMAR_HIDRO,DIR_ZON,DPA_PROVIN,DPA_DESPRO,DPA_CANTON,DPA_DESCAN,DPA_PARROQ,DPA_DESPAR,AREA,NAM,EDEL,SUP_HA
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,False,True,True,True,True,True,True,True,True,True,True,True,True,True
64,False,True,True,True,True,True,True,True,True,True,True,True,True,True
65,False,True,True,True,True,True,True,True,True,True,True,True,True,True
66,False,True,True,True,True,True,True,True,True,True,True,True,True,True
67,False,True,True,True,True,True,True,True,True,True,True,True,True,True

In [300]:
df.isnull().sum()

ANIO_CREACION    0
REG_NAT          5
DEMAR_HIDRO      5
DIR_ZON          5
DPA_PROVIN       5
DPA_DESPRO       5
DPA_CANTON       5
DPA_DESCAN       5
DPA_PARROQ       5
DPA_DESPAR       5
AREA             5
NAM              5
EDEL             5
SUP_HA           5
dtype: int64

In [301]:
df.dropna()

,ANIO_CREACION,REG_NAT,DEMAR_HIDRO,DIR_ZON,DPA_PROVIN,DPA_DESPRO,DPA_CANTON,DPA_DESCAN,DPA_PARROQ,DPA_DESPAR,AREA,NAM,EDEL,SUP_HA
0,2021.0,REGIÓN SIERRA O INTERANDINA,DEMARCACION HIDROGRÁFICA PASTAZA,DIRECCIÓN ZONAL CHIMBORAZO,5,COTOPAXI,0501,LATACUNGA,050150,LATACUNGA,URBANO,SANTA ELENA,TERMINADO,"166,498875"
1,2021.0,REGIÓN SIERRA O INTERANDINA,DEMARCACION HIDROGRÁFICA GUAYAS,DIRECCIÓN ZONAL GUAYAS,2,BOLÍVAR,0201,GUARANDA,020157,SAN SIMÓN,RURAL,SAN SIMÓN DE QUINLLUNGA-GUARANDA,TERMINADO,"556,577508"
2,2021.0,REGIÓN SIERRA O INTERANDINA,DEMARCACION HIDROGRÁFICA PASTAZA,DIRECCIÓN ZONAL CHIMBORAZO,NAN,TUNGURAHUA,1806,QUERO,180650,QUERO,URBANO,TELIGOTE,TERMINADO,"1,825835"
3,2021.0,REGIÓN SIERRA O INTERANDINA,DEMARCACION HIDROGRÁFICA PASTAZA,DIRECCIÓN ZONAL CHIMBORAZO,18,TUNGURAHUA,1807,SAN PEDRO DE PELILEO,180750,PELILEO,URBANO,TELIGOTE,TERMINADO,"193,884743"
4,2021.0,REGIÓN SIERRA O INTERANDINA,DEMARCACION HIDROGRÁFICA PASTAZA,DIRECCIÓN ZONAL CHIMBORAZO,18,TUNGURAUA,1807,SAN PEDRO DE PELILEO,180752,BOLÍVAR,RURAL,TELIGOTE,TERMINADO,"2,391932"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
59,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
60,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
61,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
62,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN